In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
data = pd.read_csv('./raw/jdata_action.csv').sort_values('action_time')
data.to_csv('./data/jdata_action_sorted.csv', index=False)

In [5]:
# 减少内存的函数
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [6]:
jdata_action=reduce_mem_usage(pd.read_csv('./data/jdata_action_sorted.csv',sep=','))
jdata_comment=reduce_mem_usage(pd.read_csv('./raw/jdata_comment.csv',sep=','))
jdata_product=reduce_mem_usage(pd.read_csv('./raw/jdata_product.csv',sep=','))
jdata_shop=reduce_mem_usage(pd.read_csv('./raw/jdata_shop.csv',sep=','))
jdata_user=reduce_mem_usage(pd.read_csv('./raw/jdata_user.csv',sep=','))

Mem. usage decreased to 745.30 Mb (47.5% reduction)
Mem. usage decreased to 30.46 Mb (55.0% reduction)
Mem. usage decreased to  5.72 Mb (57.5% reduction)
Mem. usage decreased to  0.24 Mb (57.1% reduction)
Mem. usage decreased to 38.35 Mb (65.3% reduction)

In [ ]:
df = jdata_action.merge(jdata_product,on='sku_id',how='left')

In [19]:
### 生成训练集和5个3天迭代测试集
jdata_action_train = jdata_action[jdata_action['action_time'] <= '2018-04-00']
jdata_action_test1 = jdata_action[(jdata_action['action_time'] > '2018-04-00')&((jdata_action['action_time'] <= '2018-04-03'))]
jdata_action_test2 = jdata_action[(jdata_action['action_time'] > '2018-04-03')&((jdata_action['action_time'] <= '2018-04-06'))]
jdata_action_test3 = jdata_action[(jdata_action['action_time'] > '2018-04-06')&((jdata_action['action_time'] <= '2018-04-09'))]
jdata_action_test4 = jdata_action[(jdata_action['action_time'] > '2018-04-09')&((jdata_action['action_time'] <= '2018-04-12'))]
jdata_action_test5 = jdata_action[(jdata_action['action_time'] > '2018-04-12')&((jdata_action['action_time'] <= '2018-04-15'))]

In [27]:
# 听说用h5比较快
jdata_action_train.to_hdf('./data/action_train.h5', key='df', mode='w')
jdata_action_test1.to_hdf('./data/action_test1.h5', key='df', mode='w')
jdata_action_test2.to_hdf('./data/action_test2.h5', key='df', mode='w')
jdata_action_test3.to_hdf('./data/action_test3.h5', key='df', mode='w')
jdata_action_test4.to_hdf('./data/action_test4.h5', key='df', mode='w')
jdata_action_test5.to_hdf('./data/action_test5.h5', key='df', mode='w')
# df.to_hdf('data.h5', key='df', mode='w')

          user_id  sku_id            action_time  module_id  type
0         1059904  221570    2018-02-01 00:00:00    7070842     1
1          438196  341353    2018-02-01 00:00:00    6681819     1
2           49368  218375    2018-02-01 00:00:00    9130343     1
3         1041194  231734    2018-02-01 00:00:00    1639706     1
4          757352  311819    2018-02-01 00:00:00    8549214     1
5          861856  306785    2018-02-01 00:00:00    1857443     1
6          272247  222335    2018-02-01 00:00:00    6934443     1
7          707294   42391    2018-02-01 00:00:00    8516442     1
8          390975  140305    2018-02-01 00:00:00    3243415     1
9          270769   55143    2018-02-01 00:00:00     126713     1
10        1593534  237327    2018-02-01 00:00:00    5643867     1
11         140060  103709    2018-02-01 00:00:00    8426280     1
12         715642  186437    2018-02-01 00:00:00    2545488     1
13         492809  127095    2018-02-01 00:00:00   10670532     1
14         562772  138395    2018-02-01 00:00:00    4261407     1
15        1564297  162810    2018-02-01 00:00:00    1634629     1
16         515305  270268    2018-02-01 00:00:00    5565111     1
17         775029   95054  2018-02-01 00:00:00.0   10439703     3
18         268565  121770    2018-02-01 00:00:01    1367303     1
19        1074827  266849    2018-02-01 00:00:01   10356682     1
20        1355966   51076    2018-02-01 00:00:01    6893746     1
21        1443370  362040    2018-02-01 00:00:01    3842661     1
22        1022425  287883    2018-02-01 00:00:01    6134378     1
23         406131  160328    2018-02-01 00:00:01    8097315     1
24        1306860  123361    2018-02-01 00:00:01    4766575     1
25        1156249  316508  2018-02-01 00:00:01.0    7769324     2
26        1156249  191043  2018-02-01 00:00:01.0    7769324     2
27        1165241   40211    2018-02-01 00:00:02   10014708     1
28        1483019  148758    2018-02-01 00:00:02   10557917     1
29         905372  367629    2018-02-01 00:00:02    9503997     1
...           ...     ...                    ...        ...   ...
30113302  1002831   51947    2018-03-31 23:59:57    4246962     1
30113303  1358676   44024    2018-03-31 23:59:57    6498291     1
30113304  1308600   92792    2018-03-31 23:59:57    2214229     1
30113305  1228347  139974    2018-03-31 23:59:57   10076720     1
30113306   779011   21765    2018-03-31 23:59:57    7959633     1
30113307  1187485  224139    2018-03-31 23:59:57    8985476     1
30113308   512527  193208    2018-03-31 23:59:57    4338586     1
30113309   955337  199608    2018-03-31 23:59:57   11162570     1
30113310   567141  141584    2018-03-31 23:59:57    5567149     1
30113311  1136646   64400    2018-03-31 23:59:57    1372011     1
30113312  1446380  344321    2018-03-31 23:59:57    3125273     1
30113313  1095218  168723    2018-03-31 23:59:57    5991798     1
30113314   113689   69402  2018-03-31 23:59:57.0    3515056     2
30113315  1460180  206846    2018-03-31 23:59:58    1441224     1
30113316   988137  289214    2018-03-31 23:59:58   10975787     1
30113317    15510  120290    2018-03-31 23:59:58    5116450     1
30113318  1033066  254721    2018-03-31 23:59:58    9713610     1
30113319  1112382  217016    2018-03-31 23:59:58    6592363     1
30113320   597375  366664    2018-03-31 23:59:58    7205997     1
30113321   829747  165712    2018-03-31 23:59:58     341704     1
30113322   816955  108751    2018-03-31 23:59:58    3971629     1
30113323    24750   25764    2018-03-31 23:59:58    4765191     1
30113324  1277577  173948    2018-03-31 23:59:58    1913801     1
30113325   482066  111964    2018-03-31 23:59:58    4402850     1
30113326   252845  239984    2018-03-31 23:59:58   11062470     1
30113327  1591928  378016    2018-03-31 23:59:59     890069     1
30113328   726338  300688    2018-03-31 23:59:59    7722504     1
30113329   937676  151759    2018-03-31 23:59:59   10356873     1
30113330  1439497  364491    2018-03-31 23:59:59    5526058     1
30113331   185714  275553    2018-03-31 23:59:59    8136523     1

[30113332 rows x 5 columns]